#blog{
  margin-top: 100px;
  margin-bottom: 30px;
}

#blog ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

#dropdown{
  display: none;
}

.line{
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: var(--text-color);
}

label[for="dropdown"] {
  display: none;
}

label[for="dropdown"] span{
  font-size: 50px;
}

.filter{
  margin-bottom: 10px;
}

.layout{
  display: grid;
}

@media(max-width: 1500px){

}

@media(max-width: 900px){
  #blog ul{
    display: none;
    flex-direction: column;
  }

  label[for="dropdown"]{
    display: block;
  }

  #dropdown:checked ~ ul{
    display: flex;
  }

  .blog_container{
    margin-top: 30px;
  }
}
