#blog{
  margin-top: 80px;
  margin-bottom: 100px;
}

.filter ul{
  list-style: none;
  display: flex;
  gap: 20px;
  position: sticky;
}

#dropdown{
  display: none;
}

label[for="dropdown"] {
  display: none;
}

label[for="dropdown"] span{
  font-size: 40px;
}

.filter{
  margin-bottom: 20px;
}

.layout{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 20px;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.element {
  position: relative;
}

.element img{
  width: 100%
}

.element_background {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--border-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.element:hover .element_background {
  visibility: visible;
  opacity: 0.7;
}

.element_description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.element_description  h3{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.element_description p{
  font-size: 15px;
  font-weight: normal;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.layout a{
  padding-bottom: 0px;
}

.layout a:hover{

}

.layout a::after{
  content: ;
  height: 0px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.layout a:hover::after{
  width: 0%;
}

.filter button{
  background: none;
  border-radius: 5px;
  border: none;
  padding: 0px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.filter button:hover{
  background: none;
  border-radius: 5px;
  border: none;
  padding: 0px;
  color: var(--light-text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}


@media(max-width: 1200px){
  #blog{
    margin-top: 50px;
  }

  .layout{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 800px){
  #blog{
    margin-top: 30px;
  }

  #blog ul{
    display: none;
    flex-direction: column;
  }

  label[for="dropdown"]{
    display: block;
  }

  #dropdown:checked ~ ul{
    display: flex;
  }

  .layout{
    grid-template-columns: repeat(1, 1fr);
  }

  .element_background {
    visibility: visible;
    opacity: 0.7;
  }
}
