#contact{
    margin-top: 80px;
    margin-bottom: 40px;
  }
  
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.left{
    grid-column: 1;
}

.right{
    grid-column: 2;
    grid-row: 1 / span 4;
}

textarea{
    width: 400px;
    height: 200px;
}
  
  @media(max-width: 1200px){
    #contact{
      margin-top: 50px;
    }
  }
  
  @media(max-width: 800px){
    #contact{
      margin-top: 20px;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .right{
        grid-column: 1;
        grid-row: 6 / span 1;
    }
    
    textarea{
        width: 200px;
    }
  }