#contact{
    margin-top: 80px;
    margin-bottom: 40px;
  }
  
  .contact form{
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
  }
  
  @media(max-width: 1200px){
    #contact{
      margin-top: 50px;
    }
  }
  
  @media(max-width: 800px){
    #contact{
      margin-top: 20px;
    }
  }