#data_protection{
  margin-top: 100px;
  margin-bottom: 100px;
}

@media(max-width: 1200px){
  #data_protection{
    margin-top: 50px;
  }
}

@media(max-width: 800px){
  #data_protection{
    margin-top: 30px;
  }
}
