#blog{
  margin-top: 100px;
  margin-bottom: 100px;
}

.title{
  margin-top: 175px;
  margin-bottom: 100px;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 20px;
}

.layout p{
  text-align: justify;
}

.flex img{
  width: calc(100% - 20px);
  border: 10px solid var(--border-color);
}

.navigation{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation span{
  color: var(--text-color);
  font-size: 50px;
  margin-top: 5px;
  margin-left: 8px
}

.navigation_button{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.home span{
  margin-left: 5px
}

.disabled{
  color: var(--background-color);
}

@media(max-width: 800px){
  #blog{
    margin-top: 50px;
  }

  .layout{
    grid-template-columns: repeat(1, 1fr);
  }

  .navigation span{
    font-size: 30px;
    margin-top: 3px;
    margin-left: 6px
  }

  .navigation_button{
    background: var(--dark-background-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  .home span{
    margin-left: 2px
  }

  .title{
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
