#login{
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login input{
  background: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  width: 200px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login input::placeholder{
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  opacity: 1;
}

.login input:focus{
  outline: none;
}

.login input:focus::placeholder{
  opacity: 0.1;
}

.login button{
  background: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  width: 214px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login button:hover{
  background: var(--text-color);
  color: var(--border-color);
  cursor: pointer;
}

.button_box{
  display: flex;
  gap: 10px;
}

@media(max-width: 1200px){
  #login{
    margin-top: 50px;
  }

  .login form
  {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

@media(max-width: 800px){
  #login{
    margin-top: 30px;
  }
}
