#login{
  margin-top: 80px;
  margin-bottom: 40px;
}

.login form{
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
}

.button_box{
  display: flex;
  gap: 10px;
}

@media(max-width: 1200px){
  #login{
    margin-top: 50px;
  }
}

@media(max-width: 800px){
  #login{
    margin-top: 20px;
  }
}
