#newsletter{
  margin-top: 50px;
  margin-bottom: 50px;
}

.newsletter form{
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
}

.newsletter input[type="text"], .login input[type="password"]{
  background: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  width: 200px;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.newsletter input[type="checkbox"]{
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

.newsletter button{
  background: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  width: 214px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.newsletter button:hover{
  background: var(--text-color);
  color: var(--border-color);
  cursor: pointer;
}

.button_box{
  display: flex;
  gap: 10px;
}

@media(max-width: 1200px){
  #newsletter{
    margin-top: 50px;
  }
}

@media(max-width: 800px){
  #newsletter{
    margin-top: 30px;
  }
}
