@font-face {
font-family: "Inconsolata";
src: url("./Inconsolata/static/Inconsolata-Medium.ttf");
}

:root{
  --light-secondary-color: #3A5A40;
  --secondary-color: #344E41;
  --text-color: #000000;
  --light-text-color: #777777;
  --light-primary-color: #A3B18A;
  --primary-color: #A3B18A;
  --dark-background-color: #DAD7CD;
  --medium-background-color: #EEEEEE;
  --background-color: #F2F2F2;
  --border-color: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
}

body{
  color: var(--text-color);
  font-family: 'Inconsolata', sans-serif;
  font-weight: normal;
  text-decoration: none;
  background-color: var(--background-color);
  min-height: 100vh;
  border: 30px solid var(--border-color);
}

@media(max-width: 1700px){
  body{
    border: none;
  }
}

a{
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
}

h1 {
  font-size: 70px;
  line-height: 1.5;
}

h2{
  font-size: 40px;
}

p {
  line-height: 1.4;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.underline{
  position: relative;
  padding-bottom: 5px;
}

.underline::after{
  content: "";
  height: 2px;
  width: 0%;
  background: var(--text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 200ms ease-in-out;
}

.underline:hover::after{
  width:100%;
}

.aktiv::after{
  width: 100%;
  background: var(--text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 200ms ease-in-out;
  content: "";
  height: 2px;
}

.line{
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background: var(--text-color);
}

img::selection, p::selection, span::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, li::selection {
  background-color: var(--text-color);
  color: var(--border-color);
  padding: 2px;
}

.devider{
  display: flex;
  gap: 5px;
}

.icon{
  height: 48px;
  width: 48px;
}

.icon_small{
  height: 24px;
  width: 24px;
  bottom: -5px;
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip p {
  visibility: hidden;
  width: 200px;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: -500%;
  left: 450%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid var(--text-color);
}

.tooltip:hover p {
  visibility: visible;
  opacity: 1;
}

.box{
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], textarea, select{
  background: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

input[type="text"].wide, input[type="password"].wide, input[type="file"].wide, textarea.wide, select.wide, button.wide{
  width: 400px;
}

textarea{
  resize: none;
}

input[type="checkbox"]{
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

button{
  background: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  width: 214px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover{
  background: var(--text-color);
  color: var(--border-color);
  cursor: pointer;
}

.text_input {
  position: relative;
  width: min-content;
}

input:focus, textarea:focus{
  border-width: 3px;
  outline: 0;
}

.text_input .floating_label {
  position: absolute;
  pointer-events: none;
  top: 5px;
  left: 10px;
  transition: 0.2s ease all;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  font-size: 18px;
  opacity: 0.65;
}

.text_input .hovering_label {
  position: absolute;
  pointer-events: none;
  top: -20px;
  left: 0px;
  border-radius: 2px;
  font-size: 18px;
}

.text_input input:focus ~ .floating_label,
.text_input input:not(:focus):valid ~ .floating_label{
  top: -10px;
  left: 15px;
  opacity: 1;
  font-size: 15px;
  background-color: var(--background-color);
}

.invisible{
  display: none;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  position: fixed;
  left: 300px;
  bottom: 100px;
  background-color: var(--background-color);
  z-index: 3;
  display: flex;
  gap: 20px;
}

#close{
  display: none;
}

label[for="close"] span{
  font-size: 25px;
}

.popup h3{
  margin-top: 15px;
}

@media(max-width: 1500px){
  .container{
    width: 80%;
  }

  h1{
    font-size: 50px;
  }

  h2{
    font-size: 30px;
  }
}

@media(max-width: 800px){
  .container{
    width: 90%;
  }

  h1{
    font-size: 25px;
  }

  h2{
    font-size: 20px;
  }

  input[type="text"].wide, input[type="password"].wide, input[type="file"].wide, textarea.wide, select.wide, button.wide{
    width: 200px;
  }

  .popup {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

.noscript{
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  position: fixed;
  left: 100px;
  right: 100px;
  bottom: 100px;
  height: 30%;
  z-index: 101;
  background-color: var(--background-color);
}
