#success{
  margin-top: 100px;
  margin-bottom: 400px;
}

.title{
  margin-bottom: 50px;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 20px;
}

.layout p{
  text-align: justify;
}

@media(max-width: 1200px){
  #success{
    margin-top: 50px;
  }

}

@media(max-width: 800px){
  #success{
    margin-top: 30px;
  }

  .layout{
    grid-template-columns: repeat(1, 1fr);
  }
}
